/*all sections are in alphabetical order*/

/* sitewide */
*{
    margin-left: 1%;
    box-sizing: border-box;
}

/*head, body, footer*/
body{
    background-color: rgba(166, 177, 194, 0.8);
}

/*types*/
button{
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
}
button:hover {background-color: #b5beb5;}
button:active {background-color: #969e96;}
h1{
    font-size: 50px;
    font-family: garamond;

}
img{
    object-fit: fill;
    width: 250px;
    height: 350px;
}
td{
    border-radius: 10%;
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 10px 20px;
}

/*classes, more specific styling */
.player button{
    width: 60px;
}